### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorar todos os arquivos que contêm apenas comentários de linha
*/*/            # Ignorar pastas intermediárias
**/*.java       # Ignorar arquivos .java
!**/*.java      # Mas não ignore arquivos .java

# Ignorar arquivos .java que contêm apenas comentários de linha
**/*.java      # Ignore todos os arquivos .java
!**/*.java     # Mas não ignore arquivos .java
**/*.java      # Ignore todos os arquivos .java novamente
